{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('area_missile_update', areamissile_id=areamissile.id, ship_id = areamissile.ship.id) }}">
  <table>
    
    <tr>
	  <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>

    <tr>
    <td>{{ form.am_range.label }}</td>
    <td>{{ form.am_range }}</td>
    <td>
        <ul>
        {% for error in form.am_range.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </td>    
    </tr>      

    <tr>
      <td>{{ form.dmg_missile.label }}</td>
      <td>{{ form.dmg_missile }}</td>
      <td>
        <ul>
          {% for error in form.dmg_missile.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>

    <tr>
      <td>{{ form.dmg_ship.label }}</td>
      <td>{{ form.dmg_ship }}</td>
      <td>
          <ul>
          {% for error in form.dmg_ship.errors %}
          <li>{{ error }}</li>
          {% endfor %}
          </ul>
      </td>    
    </tr>

    <tr>
	    <td colspan="2">
	      <input type="submit" value="Update area missile"/>
	    </td>
    </tr>

  </table>
</form>

<form method="POST" action="{{ url_for('area_missile_remove', areamissile_id=areamissile.id, ship_id = areamissile.ship.id) }}">
    <input type="submit" value="Remove area missile"/>
</form>

{% endblock %}
