{% extends "layout.html" %}

{% block body %}

  <h3>Factions</h3>
  {% if current_user.is_authenticated and current_user.role() == "ADMIN" %}
  <a href="{{ url_for('factions_create_form') }}" class="btn btn-secondary btn-sm" role="button">Add faction</a>
  {% endif %}
  <br>
  <br>
  
  <table>
    {% for faction in factions %}
    <tr>
      <h5>{{ faction.name }}</h5>

      {% if current_user.is_authenticated and current_user.role() == "ADMIN" %}
        <div class="btn-group" role="group">
        <form method="POST" action="{{ url_for('factions_remove', faction_id=faction.id) }}">
            <button type="submit" class="btn btn-sm btn-secondary w-20 mb-2">Remove</button>
        </form>
        &nbsp;
        <a href="{{ url_for('faction_update', faction_id=faction.id) }}" class="btn btn-sm btn-secondary w-20 mb-2" role="button">Modify</a>
      </div>
      <br>
      {% endif %} 
      <span>Number of ships: {{ faction.faction_info.ship_count }}</span>
      <br>
      <span>Number of command-capable ships: {{ faction.faction_info.command_ship_count }}</span>
      <br>
      <br>
    </tr>
    {% endfor %}
  </table>
{% endblock %}