{% extends "layout.html" %}

{% block body %}

  <h3>Factions</h3>
  <a href="{{ url_for('factions_create_form') }}">Add faction</a>
  
  <br>
  <br>

  <table>
    {% for faction in factions %}
    <tr>
      <h5>{{ faction.name }}</h5>
      <span>Number of ships: {{ faction.faction_info.ship_count }}</span>
      <br>
      <span>Number of command-capable ships: {{ faction.faction_info.command_ship_count }}</span>

      <br>
      <form method="POST" action="{{ url_for('factions_remove', faction_id=faction.id) }}">
          <input type="submit" value="Remove faction"/>
      </form>        
    </tr>
    <br>
    <br>
    {% endfor %}
  </table>
{% endblock %}