{% extends "layout.html" %}

{% block body %}

   <!-- Ships are listed per faction. Each name links to ship info page. -->

  <h3>Ships</h3>
  <br>

  {% for faction in factions %}
  <h5>{{ faction.name }}</h5>
   
  <table>
    {% for ship in faction.ships %}
    <tr>
      <td><a href="{{ url_for('ships_info', ship_id=ship.id) }}">{{ ship.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  <br>
  {% endfor %}

  <h5>Ships belonging to no faction</h5>

  <!--Ships with no faction-->
  {% for ship in ships %}
  <table>
      {% if ship.factions|length == 0  %}
      <tr>
        <td><a href="{{ url_for('ships_info', ship_id=ship.id) }}">{{ ship.name }}</a></td>
      </tr>
      {% endif %}
  </table>
  <br>
  {% endfor %}

{% endblock %}

