{% extends "layout.html" %}
  
{% block body %}

<form method="POST" action="{{ url_for('ships_create') }}">
  <table>
    
    <tr>
	    <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>

    <tr>
      <td>{{ form.cost.label }}</td>
      <td>{{ form.cost }}</td>
      <td>
        <ul>
          {% for error in form.cost.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.command_capable.label }}</td>
      <td>{{ form.command_capable }}</td>
    </tr>
    
    <tr>
      <td>{{ form.propulsion_type.label }}</td>
      <td>{{ form.propulsion_type }}</td>
      <td>
        <ul>
          {% for error in form.propulsion_type.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.move.label }}</td>
      <td>{{ form.move }}</td>
      <td>
        <ul>
          {% for error in form.move.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.delta_v.label }}</td>
      <td>{{ form.delta_v }}</td>
      <td>
        <ul>
          {% for error in form.delta_v.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.evasion_passive.label }}</td>
      <td>{{ form.evasion_passive }}</td>
      <td>
        <ul>
          {% for error in form.evasion_passive.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.evasion_active.label }}</td>
      <td>{{ form.evasion_active }}</td>
      <td>
        <ul>
          {% for error in form.evasion_active.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.evasion_endurance.label }}</td>
      <td>{{ form.evasion_endurance }}</td>
      <td>
        <ul>
          {% for error in form.evasion_endurance.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    
    <tr>
      <td>{{ form.integrity.label }}</td>
      <td>{{ form.integrity }}</td>
      <td>
        <ul>
          {% for error in form.integrity.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.primary_facing.label }}</td>
      <td>{{ form.primary_facing }}</td>
      <td>
        <ul>
          {% for error in form.primary_facing.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.armor_front.label }}</td>
      <td>{{ form.armor_front }}</td>
      <td>
        <ul>
          {% for error in form.armor_front.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
    
    <tr>
      <td>{{ form.armor_sides.label }}</td>
      <td>{{ form.armor_sides }}</td>
      <td>
        <ul>
          {% for error in form.armor_sides.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>
   
    <tr>
      <td>{{ form.armor_back.label }}</td>
      <td>{{ form.armor_back }}</td>
      <td>
        <ul>
          {% for error in form.armor_back.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>    
    </tr>

    <tr>
	    <td colspan="2">
	      <input type="submit" value="Add a new ship"/>
	    </td>
    </tr>

  </table>
</form>

{% endblock %}
