{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <!--Main ship row-->
    <div class="row">
      <!--Ship info column-->
      <div class="col-sm-9">
        <h4>{{ ship.name }}</h4>
        <span><b>Cost: </b></span>
        <span>{{ ship.cost }}</span>
        <br>
        <br>

        <table>            
          <tr>
            <td><b>Command-capable</b></td>
            <td>{{ ship.command_capable }}</td>
          </tr>

          <tr>
            <td><b>Engine type</b></td>
            <td>{{ ship.propulsion_type }}</td>
          </tr>
          
          <tr>
            <td><b>Move</b></td>
            <td>{{ ship.move }}</td>
          </tr>

            <td><b>Delta-v</b></td>
            <td>{{ ship.delta_v }}</td>
          </tr>

          <tr>
            <td><b>Passive evasion</b></td>
            <td>{{ ship.evasion_passive }}</td>
          </tr>

          <tr>
            <td><b>Active evasion</b></td>
            <td>{{ ship.evasion_active }}</td>
          </tr>

          <tr>
            <td><b>Evasion endurance</b></td>
            <td>{{ ship.evasion_endurance }}</td>
          </tr>

          <tr>
            <td><b>Integrity</b></td>
            <td>{{ ship.integrity }}</td>
          </tr>

          <tr>
            <td><b>Primary facing</b></td>
            <td>{{ ship.primary_facing }}</td>
          </tr>

          <tr>
            <td><b>Front armor</b></td>
            <td>{{ ship.armor_front }}</td>
          </tr>

          <tr>
            <td><b>Side armor</b></td>
            <td>{{ ship.armor_sides }}</td>
          </tr>

          <tr>
            <td><b>Rear armor</b></td>
            <td>{{ ship.armor_back }}</td>
          </tr>

          <tr>
            <!-- Link to update the ship. -->
            <td><a href="{{ url_for('ships_update_form', ship_id=ship.id) }}">Modify</a></td>
          </tr>
        </table>
        <br>
      <!--Weapons row
      Currently spacing between grid elements is done with breaklines, should be done with
      Bootstrap classes.-->
        <div class="row">
          {% for laser in ship.lasers %}
          <!--Individual weapon column-->
          <div class="col-8 col-md-auto">
            <h5>Laser</h5>
            <table>
              <tr>
                <td><b>Name</b></td>
                <td>{{ laser.name }}</td>
              </tr>

              <tr>
                <td><b>Anti-missile damage</b></td>
                <td>{{ laser.laser_dmg_missile }}</td>
              </tr>
            </table>
            <br>
          </div>
          {% endfor %}

          {% for missile in ship.missiles %}
          <!--Individual weapon column-->
          <div class="col-8 col-md-auto">
            <h5>Missile</h5>
            <table>
              <tr>
                <td><b>Name</b></td>
                <td>{{ missile.name }}</td>
              </tr>

              <tr>
                <td><b>Volley</b></td>
                <td>{{ missile.volley }}</td>
              </tr>

              <tr>
                <td><b>Stores</b></td>
                <td>{{ missile.stores }}</td>
              </tr>
            </table>
            <br>
          </div>
          {% endfor %}
        </div>
        <br>
        <span><b>Belongs to faction(s):</b></span>
        <br>
        {% for faction in ship.factions %}
          <span>{{ faction.name }}</span>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}