{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <td><b>Name</b></td>
      <td>{{ ship.name }}</td>
    </tr>

    <tr>
      <td><b>Cost</b></td>
      <td>{{ ship.cost }}</td>
    </tr>
      
    <tr>
      <td><b>Command-capable</b></td>
      <td>{{ ship.command_capable }}</td>
    </tr>

    <tr>
      <td><b>Engine type</b></td>
      <td>{{ ship.propulsion_type }}</td>
    </tr>
    
    <tr>
      <td><b>Move</b></td>
      <td>{{ ship.move }}</td>
    </tr>

      <td><b>Delta-v</b></td>
      <td>{{ ship.delta_v }}</td>
    </tr>

    <tr>
      <td><b>Passive evasion</b></td>
      <td>{{ ship.evasion_passive }}</td>
    </tr>

    <tr>
      <td><b>Active evasion</b></td>
      <td>{{ ship.evasion_active }}</td>
    </tr>

    <tr>
      <td><b>Evasion endurance</b></td>
      <td>{{ ship.evasion_endurance }}</td>
    </tr>

    <tr>
      <td><b>Integrity</b></td>
      <td>{{ ship.integrity }}</td>
    </tr>

    <tr>
      <td><b>Primary facing</b></td>
      <td>{{ ship.primary_facing }}</td>
    </tr>

    <tr>
      <td><b>Front armor</b></td>
      <td>{{ ship.armor_front }}</td>
    </tr>

    <tr>
      <td><b>Side armor</b></td>
      <td>{{ ship.armor_sides }}</td>
    </tr>

    <tr>
      <td><b>Rear armor</b></td>
      <td>{{ ship.armor_back }}</td>
    </tr>

    <tr>
      <!-- Link to update the ship. -->
      <td><a href="{{ url_for('ships_update_form', ship_id=ship.id) }}">Modify</a></td>
    </tr>
  </table>
{% endblock %}