{% extends "layout.html" %}

{% block body %}
<p>Eventually the form will be prefilled with existing data so you only need to input what you need to change.</p>

<form method="POST" action="{{ url_for('ships_update', ship_id=ship.id) }}">
    <label>Name</label>
    <input type="text" name="name" />
    <br />

    <label>Cost</label>
    <input type="number" name="cost" />
    <br />

    <label>Command-capable</label>
    <input type="text" name="command_capable" />
    <br />

    <label>Propulsion type</label>
    <input type="text" name="propulsion_type" />
    <br />

    <label>Move</label>
    <input type="number" name="move" />
    <br />

    <label>Delta-v</label>
    <input type="number" name="delta_v" />
    <br />

    <label>Passive evasion</label>
    <input type="number" name="evasion_passive" />
    <br />

    <label>Active evasion</label>
    <input type="number" name="evasion_active" />
    <br />

    <label>Evasion endurance</label>
    <input type="number" name="evasion_endurance" />
    <br />

    <label>Integrity</label>
    <input type="number" name="integrity" />
    <br />

    <label>Primary facing</label>
    <input type="text" name="primary_facing" />
    <br />

    <label>Frontal armor</label>
    <input type="number" name="armor_front" />
    <br />

    <label>Side armor</label>
    <input type="number" name="armor_sides" />
    <br />

    <label>Rear armor</label>
    <input type="number" name="armor_back" />
    <br />

    <label>Weapon 1</label>
    <input type="text" name="weapon1_name" />
    <br />

    <label>Weapon 2</label>
    <input type="text" name="weapon2_name" />
    <br />

    <label>Weapon 3</label>
    <input type="text" name="weapon3_name" />
    <br />

    <input type="submit" value="Update ship" />
</form>

{% endblock %}
